<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366283483369-9ol2ott2t3i36htprot2d8u7ui04v1db.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366283483369-9ol2ott2t3i36htprot2d8u7ui04v1db</string>
	<key>API_KEY</key>
	<string>AIzaSyA-3x7J5D36Oun4Ve5Ll8JdGYo9tEXb-vs</string>
	<key>GCM_SENDER_ID</key>
	<string>366283483369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elexaconsumer.Elexa</string>
	<key>PROJECT_ID</key>
	<string>elexa-interview</string>
	<key>STORAGE_BUCKET</key>
	<string>elexa-interview.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366283483369:ios:7853ac179ad0ad09206878</string>
</dict>
</plist>